<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.usc.csci588team02"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission
		android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission
		android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:debuggable="true"
		android:theme="@android:style/Theme.NoTitleBar">
		<activity
			android:name=".activity.TabbedInterface">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.Agenda"
			android:label="@string/agendaTitle"></activity>
		<activity
			android:name=".activity.Calendars"
			android:label="@string/calendarsTitle"></activity>
		<activity
			android:name=".activity.Map"
			android:label="@string/mapTitle"></activity>
		<activity
			android:name=".activity.MapRouteActivity"
			android:label="@string/mapTitle"></activity>
		<activity
			android:name=".activity.Login"></activity>
		<activity
			android:name=".activity.Logout"></activity>
		<activity
			android:name=".activity.Dashboard"
			android:label="@string/app_name"></activity>
        <activity
            android:name=".activity.EventDetails"
            android:label="@string/eventDetailsTitle" android:theme="@style/Theme.EventDetails"></activity>
		<activity
			android:name=".activity.Preferences"
			android:label="@string/preferencesTitle"></activity>
		<activity
			android:name=".activity.Home"></activity>
			
		<service android:enabled="true" android:name=".service.AppService"></service>
		<receiver android:name=".widget.WidgetProvider">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
		<uses-library
			android:name="com.google.android.maps" />
	

</application>
	<uses-sdk
		android:minSdkVersion="8"></uses-sdk>
</manifest>